* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
}
.container {
  padding: 20px;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 19px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}

#search-input:focus {
  outline: none;
  border-color: green;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkgreen;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 29px 19px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card-right {
  background-color: white;
  margin-top: 20px;
  align-items: center;
}
.card-desc {
  padding: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .card,
  .card-right {
    display: block;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
